name: Build APK
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build with Buildozer
        uses: ArtemBernatskyy/buildozer-action@v1
        with:
          workdir: .
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: HackerApp-Download
          path: bin/*.apk
